@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #F9FAFF;
  font-size: 10px;
  color: #292A2B;
}
img {
  pointer-events: none;
}
#btn-mobile {
  display: none;
  position: absolute;
  right: 0.4em;
  font-size: 4em;
  font-weight: 500;

}
#btn-mobilex {
  display: none;
  position: absolute;
  top: 0.4em;
  left: 0.4em;
  margin: auto;
  font-size: 2.6em;
  font-weight: 500;

}

#config {
  position: absolute;
  font-size: 2em;
  right: 1em;
  bottom: 1em;
}
nav {
  position: relative;
  width: 100%;
  height: 12em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 5%;
}
main {
  width: 100%;
  height: calc(100% - 12em);
  display: flex;
  justify-content: center;
  align-items: center;
}
.guias {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 36%;
  height: 100%;
}
.guias ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6em;
}
.guias li {
  text-transform: uppercase;
  list-style: none;
  font-size: 1.5em;
}

.guias li a {
  position: relative;
  text-decoration: none;

}
.guias .home-a:after {
  position: absolute;
  right: 0;
  bottom: -0.2em;
  content: "";
  background-color: #368ce7;
  width: 0;
  height: 0.36em;
  border-radius: 0.10em;
}

.guias .home-a.inicio-a:after {
 width: 100%;
}
.guias .proj-a:after{
  position: absolute;
  right: 0;
  bottom: -0.2em;
  content: "";
  background-color: #368ce7;
  width: 0;
  height: 0.36em;
  border-radius: 0.10em;
}
.guias .contato-a:after {
  position: absolute;
  right: 0;
  bottom: -0.2em;
  content: "";
  background-color: #368ce7;
  width: 0;
  height: 0.36em;
  border-radius: 0.10em;
}

.logo {
  text-transform: uppercase;
  text-align: justify;
}
.logo h1 {
  font-size: 3em;
  font-weight: 700;
}
.atalhos-redes {
  letter-spacing: -0.16em;
  font-size: 2.6em;
}
.atalhos-redes a {
  color: #292A2B;
}
.home-page {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
   width: 100%;
   height: 100%;
}
.conteudo-left {
  text-align: center;
}
.conteudo-left h2 {
  font-size: 3.6em;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60em;
}
.sobre-mim {
  width: 100%;
  height: 60em;
}
.home-page.inicio {
  display: flex;
}
.projetos-page {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  max-width: 900px;
  border-radius: 4em;
}
.projetos-page ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  background-color: #474647;
  padding: 2em;
  border-radius: 2em;
}
.projetos-page li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 22em;
  height: 22em;
  border-radius: 1.4em;
  background-color: #F9FAFF;
  box-shadow: 0 0 2.5em rgba(0,0,0, 0.4);
  padding: 1em 2em;
  color: black;
}
.contato-page {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 4em;
}
.not {
  display: flex;
  animation: slide 200ms linear;
}
.guias .home-a.select-on:after {
  width: 100%;
  animation: surgir 200ms ease-in;
}
.guias .proj-a.select-on:after {
  width: 100%;
  animation: surgir 200ms ease-in;
}
.guias .contato-a.select-on:after {
  width: 100%;
  animation: surgir 200ms ease-in;
}
  .projetos-page li h2 {
    font-size: 1.6em;
}
  .projetos-page li p {
    line-height: 1em;
    font-size: 1.4em;
    text-align: center;
}
  .projetos-page li a {
    width: 8em;
    height: 3.6em;
    position: relative;
  }
  .projetos-page li a button {
    background-color: orange;
    position: absolute;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: auto;
    color: #292A2B;
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    border: none;
  }
  .projetos-page li a button:active {
   animation: button 500ms;
  }
@media (max-height: 480px) and (orientation: landscape) {
  main {
    height: calc(100% - 6em);
  }
  nav {
    height: 6em;
  }
  .home-page {
    width: 80%;
    height: 70%;
  }
  .projetos-page {
    width: 80%;
    height: 70%;
  }
  .projetos-page ul {
    gap: 6em;
    padding: 4em 2em;
    overflow-y: auto;
  }
  .projetos-page li {
    width: 16em;
    height: 15em;

  }
  .projetos-page li h2 {
    font-size: 1.2em;
  }
  .projetos-page li p {
    font-size: 1em;
  }
  .projetos-page li a {
    width: 6em;
    height: 3em;
  }
  .projetos-page li a button {
    font-size: 1em;
  }

  .contato-page {
    width: 80%;
    height: 70%;
  }
  #config {
    right: 0.5em;
    bottom: 0.5em;
  }
}
@media (max-width: 560px) and (orientation: portrait) {
  
  nav {
    justify-content: center;
    height: 8em;
  }
 main {
   height: calc(100% - 8em);
 }
  #btn-mobile {
    display: block;
  }
  #btn-mobile.disable {
    display: none;
  }
  #btn-mobilex {
    display: none;
  }
  #btn-mobilex.active {
    display: block;
  }
  .atalhos-redes {
    z-index: 2;
    display: block;
    opacity: 0;
    font-size: 2.8em;
    position: absolute;
    left: 73%;
    bottom: -7.2em;
    pointer-events: none;
    color: #4E4E4E;
  }
  .atalhos-redes.redes-mobile {
    opacity: 100%;
    pointer-events: auto;
    transition: 300ms linear;
    transition-delay: 300ms;
  }
  
  .guias {
    height: calc(100% + 12em);
    left: calc(100% + 1em);
    bottom: -28em;
    background-color: #F9FAFF;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
    border-radius: 1em;
    transition: 300ms linear;
  }
  .guias.menu-mobile {
    left: 60%;
    transition: 300ms linear;
  }
  .guias ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6em;
    padding-left: 3.2em;
  }
  .home-page {
    width: 100%;
    height: calc(100% - 8em);
  }
  .conteudo {
    flex-direction: row;
    overflow-y: scroll;
    flex-wrap: wrap;
  }
 .cabecalho {
   flex-direction: column;
 }
  .projetos-page {
    width: 90%;
    border-radius: 2em;
  }
  .contato-page {
    width: 100%;
    border-radius: 2em;
  }
  #config {
    display: none;
  }
  .projetos-page ul {
    padding: 5em 0em;
    gap: 3.2em;
    overflow-y: auto;
  }
  .projetos-page li {
    border-radius: 1em;
  }
}

@media (min-width: 1280px) {
  .projetos-page li {
    
  }
}

@keyframes slide {
  from {
    transform: translatex(100%);
  }
  to {
    transform: translatex(0);
  }
}
@keyframes surgir {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes button {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}