@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Quicksand:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: white;
  font-size: 10px;
  color: black;
  font-family: 'Poppins', sans-serif;
  transition: 500ms linear;
}
body.dark {
  background-color: #1D1D1D;
  color: white;
  transition: 500ms linear;
}
img {
  pointer-events: none;
}
.span-btn-mobile {
  display: none;
  position: absolute;
  right: 2em;
  background-color: #7048E8;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
#btn-mobile {
  transform: translate(14%, 19%);
  font-size: 3em;
  font-weight: 500;
  color: #B197FC;
}
.span-btn-mobilex {
  display: none;
  position: absolute;
  background-color: #7048E8;
  top: 0.6em;
  left: 0.6em;
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
}
#btn-mobilex {
  font-size: 2.6em;
  font-weight: 500;
  color: #B197FC;
  transform: translate(3%, 7%)
}

nav {
  position: relative;
  width: 100%;
  height: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 5%;
}
.dark-mode {
  width: 4em;
  height: 4em;
  position: absolute;
  left: 24%;
  border-radius: 50%;
  border: solid 0.3em #7048E8;
  padding: 0.46em;
}
.dark-mode i {
  transform: translate(18%, 22%);
  position: absolute;
  font-size: 2.5em;
  color: #B197FC;
}
#dark-off {
  display: none;
  transform: rotatez(1deg);
}
#dark-on {
  display: none;
  transform: rotatez(1deg);
}
#dark-off.on {
  animation: tata 1s;
  display: block;
}
#dark-off.ativo {
  display: block;
}
#dark-on.on {
  animation: tata 1s;
  display: block;
}
main {
  width: 100%;
  height: calc(100% - 8em);
  display: flex;
  justify-content: center;
  align-items: center;
}
.guias {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 36%;
  height: 100%;
}

.guias ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2.6em;
}
.guias li {
  list-style: none;
  font-size: 1.4em;
  font-weight: 400;
}

.guias li a {
  position: relative;
  text-decoration: none;

}
.guias .home-a:after {
  position: absolute;
  right: 0;
  bottom: -0.28em;
  content: "";
  background-color: orange;
  width: 0;
  height: 0.32em;
  border-radius: 0.10em;
}

.guias .home-a.inicio-a:after {
 width: 100%;
}
.guias .proj-a:after{
  position: absolute;
  right: 0;
  bottom: -0.28em;
  content: "";
  background-color: orange;
  width: 0;
  height: 0.32em;
  border-radius: 0.10em;
}
.guias .contato-a:after {
  position: absolute;
  right: 0;
  bottom: -0.28em;
  content: "";
  background-color: orange;
  width: 0;
  height: 0.32em;
  border-radius: 0.10em;
}

.logo {
  font-size: 1.8em;
}
.atalhos-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.atalhos-redes a {
  font-size: 2em;
  color: black;
}
.home-page {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100% - 8em);
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 6% 8%;
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2.8em;
  width: 60%;
  height: 60%;
}
.conteudo h2 {
  font-size: 2em;
  font-weight: 500;
}
.nome a {
  position: relative;
  text-decoration: none;
  color: black;
}
.nome a:after {
  position: absolute;
  width: 100%;
  height: 0.2em;
  content: "";
  background-color: #7048E8;
  bottom: 0em;
  left: 0;
  animation: gaga 600ms ease;
}
.nome a.dark {
  color: white;
}
.conteudo h1 {
  font-size: 6em;
  line-height: 1em;
}
.conteudo p {
  font-weight: 300;
  font-size: 1em;
  margin-top: 2.6em;
  line-height: 1.2em;
  max-width: 80%;
  text-align: justify;
}
.skills {
  position: relative;
  background-color: white;
  width: 50%;
  height: 26em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 2em;
  flex-wrap: wrap;
  padding: 2em;
  border: solid 0.2em black;
}
.skills h2 {
  position: absolute;
  top: 0.5em;
  font-size: 1.6em;
}
.skills i {
  margin-top: 0.4em;
  font-size: 8em;
  color: #B197FC;
}
.home-page.inicio {
  display: flex;
}
.projetos-page {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 4em;
  margin-bottom: 4em;
}
.projetos-page ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  background-color: #7048E8;
  padding: 2em;
  border-radius: 2em;
  box-shadow: inset 0 0 2.5em rgba(0,0,0, 0.4);
}
.projetos-page li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4em;
  text-align: center;
  width: 22em;
  height: 22em;
  border-radius: 2em;
  background-color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  color: black;
}
.contato-page {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 4em;
}
.not {
  display: flex;
  animation: gaga 300ms linear;
}
.guias .home-a.select-on:after {
  width: 100%;
  animation: surgir 200ms ease-in;
}
.guias .proj-a.select-on:after {
  width: 100%;
  animation: surgir 200ms ease-in;
}
.guias .contato-a.select-on:after {
  width: 100%;
  animation: surgir 200ms ease-in;
}
  .projetos-page li h2 {
    font-size: 1.2em;
}
  .projetos-page li p {
    line-height: 1em;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding: 0 5%;
}
  .projetos-page li a {
    width: 8em;
    height: 3.4em;
    position: relative;
  }
  .projetos-page li a button {
    background-color: orange;
    position: absolute;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 1.4em;
    border: none;
  }
  .projetos-page li a button:active {
   animation: button 500ms;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    background-color: black;
    color: white;
}
@media (max-height: 480px) and (orientation: landscape) {
  main {
    height: calc(100% - 6em);
  }
  nav {
    height: 6em;
  }
  .home-page {
    width: 90%;
    height: 70%;
  }
  .projetos-page {
    width: 80%;
    height: 70%;
  }
  .projetos-page ul {
    gap: 6em;
    padding: 4em 2em;
    overflow-y: auto;
  }
  .contato-page {
    width: 80%;
    height: 70%;
  }
  #config {
    right: 0.5em;
    bottom: 0.5em;
  }
}
@media (max-width: 560px) and (orientation: portrait) {
  
  nav {
    justify-content: center;
  }
  .span-btn-mobile {
    display: block;
  }
  .span-btn-mobile.disable {
    display: none;
  }
  .span-btn-mobilex {
    display: none;
  }
  .span-btn-mobilex.active {
    display: block;
  }
  .logo {
    font-size: 1.8em;
  }
  .atalhos-redes {
    display: none;
}
  .guias {
    width: 40%;
    height: calc(100% + 12em);
    left: calc(100% + 1em);
    bottom: -20em;
    background-color: white;
    border: solid 0.4em #B197FC;
    border-radius: 0.8em;
    transition: 300ms ease-in;
  }
  .guias.dark {
    background-color: #1D1D1D;
  }
  .dark-mode {
    left: 2em;
  }
  .guias.menu-mobile {
    left: 55%;
    transition: 300ms linear;
  }
  .guias ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    padding: 0 26%;
  }
  .guias li {
    font-size: 1.6em;
  }
  .home-page {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10%;
  }
  .conteudo {
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    padding-top: 4em;
  }
  .conteudo h2 {
    font-size: 1.6em;
  }
  .conteudo h1 {
    font-size: 4.4em;
  }
  .conteudo p {
    font-size: 1.26em;
    max-width: 96%;
    margin: auto;
 }
  .skills {
    width: 100%;
    height: 40%;
    margin: 0;
  }
  .skills i {
    font-size: 7em;
  }
  .projetos-page {
    width: 90%;
    border-radius: 2em;
  }
  .contato-page {
    width: 100%;
    border-radius: 2em;
  }
  #config {
    display: none;
  }
  .projetos-page ul {
    padding: 5em 0em;
    gap: 3.2em;
    overflow-y: auto;
  }
}
@media (min-width: 1280px) {
  .conteudo p {
    max-width: 65%;
  }
  .avatar {
    width: 28em;
    height: 28em;
  }
  .projetos-page ul {
    gap: 8em;
    padding: 4em 0;
  }
}
@keyframes surgir {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes button {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gaga {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(1);
  }
}

@keyframes tata {
  0% {
    transform: rotatez(1deg);
  }
  100% { 
    transform: rotatez(360deg);
  }
}
